Repository dcapal/dcapal, pull requests merged in 2023-12, with the labels that each got.

#209 Bump Rust dependencies
  Cargo.lock
  dcapal-backend/Cargo.toml
  dcapal-backend/src/adapter/kraken.rs
  dcapal-backend/src/api/mod.rs
  dcapal-backend/src/lib.rs
  dcapal-backend/src/stats.rs
  dcapal-optimizer-wasm/Cargo.toml
Labels: BE-enhancement

#197 Allow users to exhaust all their budget
  dcapal-frontend/public/locales/en/translation.json
  dcapal-frontend/public/locales/it/translation.json
  dcapal-frontend/src/components/allocationFlow/index.js
  dcapal-frontend/src/components/allocationFlow/portfolioSlice.js
  dcapal-frontend/src/components/allocationFlow/steps/end/index.js
  dcapal-frontend/src/components/allocationFlow/steps/invest.js
  dcapal-frontend/src/utils/index.js
  dcapal-frontend/src/workers/solver.js
  dcapal-optimizer-wasm/src/lib.rs
  dcapal-optimizer-wasm/src/optimize/advanced.rs
  dcapal-optimizer-wasm/tests/scenarios/allocateAllBudget/low-budget-allocate-all.json
  dcapal-optimizer-wasm/tests/scenarios/allocateAllBudget/low-budget-do-not-allocate-all.json
  dcapal-optimizer-wasm/tests/test_runner/scenario.rs
Labels: OPT-enhancement

#194 Add `/import/portfolio` endpoint to enable integration with third-party tools
  Cargo.lock
  dcapal-backend/Cargo.toml
  dcapal-backend/docs/rest/README.md
  dcapal-backend/docs/rest/public/import/get.md
  dcapal-backend/docs/rest/public/import/post.md
  dcapal-backend/docs/schema/portfolio/v1/schema.json
  dcapal-backend/src/api/mod.rs
  dcapal-backend/src/domain/command.rs
  dcapal-backend/src/lib.rs
  dcapal-backend/src/repository/mod.rs
  dcapal-backend/src/stats.rs
  dcapal-frontend/jsconfig.json
  dcapal-frontend/src/components/allocationFlow/portfolioSlice.js
  dcapal-frontend/src/components/allocationFlow/steps/importFile.js
  dcapal-frontend/src/components/allocationFlow/steps/portfolio/index.js
  dcapal-frontend/src/components/allocationFlow/steps/portfolios/portfolioCard.js
  dcapal-frontend/src/components/exportBtn.js
  dcapal-frontend/src/hooks/useFetchImportedPortfolio.js
  dcapal-frontend/src/routes/importPage.js
  dcapal-frontend/src/routes/router.js
  dcapal-frontend/src/utils/index.js
  dcapal-frontend/webpack.common.js
Labels: FE-enhancement, BE-enhancement

#216 Fix no budget suggestion when "Fractional Shares" option is selected
  dcapal-frontend/src/components/allocationFlow/steps/invest.js
Labels: FE-bug

#208 Refactor `MarketDataService` logic for better latency and scalability
  .github/workflows/build-test.yml
  Cargo.lock
  dcapal-backend/Cargo.toml
  dcapal-backend/docs/rest/public/import/post.md
  dcapal-backend/src/app/domain/entity.rs
  dcapal-backend/src/app/domain/market_data_utils.rs
  dcapal-backend/src/app/domain/mod.rs
  dcapal-backend/src/app/infra/mod.rs
  dcapal-backend/src/app/infra/stats.rs
  dcapal-backend/src/app/infra/utils.rs
  dcapal-backend/src/app/mod.rs
  dcapal-backend/src/app/services/command.rs
  dcapal-backend/src/app/services/ip2location.rs
  dcapal-backend/src/app/services/market_data.rs
  dcapal-backend/src/app/services/mod.rs
  dcapal-backend/src/app/workers/market_discovery.rs
  dcapal-backend/src/app/workers/mod.rs
  dcapal-backend/src/app/workers/price_updater.rs
  dcapal-backend/src/config.rs
  dcapal-backend/src/domain/market_data.rs
  dcapal-backend/src/error.rs
  dcapal-backend/src/lib.rs
  dcapal-backend/src/maintenance.rs
  dcapal-backend/src/ports/inbound/mod.rs
  dcapal-backend/src/ports/inbound/rest/mod.rs
  dcapal-backend/src/ports/mod.rs
  dcapal-backend/src/ports/outbound/adapter/cw.rs
  dcapal-backend/src/ports/outbound/adapter/ipapi.rs
  dcapal-backend/src/ports/outbound/adapter/kraken.rs
  dcapal-backend/src/ports/outbound/adapter/mod.rs
  dcapal-backend/src/ports/outbound/adapter/yahoo.rs
  dcapal-backend/src/ports/outbound/mod.rs
  dcapal-backend/src/ports/outbound/repository/dto.rs
  dcapal-backend/src/ports/outbound/repository/market_data/mod.rs
  dcapal-backend/src/ports/outbound/repository/market_data/redis_asset.rs
  dcapal-backend/src/ports/outbound/repository/market_data/redis_market.rs
  dcapal-backend/src/ports/outbound/repository/mod.rs
  dcapal-optimizer-wasm/Cargo.toml
Labels: A-backend, C-enhancement, C-cleanup, P-medium

#257 Hotfix/v0.6.0
  dcapal-frontend/package-lock.json
  dcapal-frontend/package.json
  dcapal-frontend/src/app/providers.js
  dcapal-frontend/src/components/allocationFlow/index.js
  dcapal-frontend/src/components/core/navBar.js
  dcapal-frontend/src/index.html
  dcapal-frontend/src/routes/containerPage.js
  dcapal-frontend/src/routes/router.js
  dcapal-frontend/src/style.css
  dcapal-frontend/webpack.dev.js
Labels: C-bug, A-frontend, P-high

#258 Hotfix: Wrong fee amount and impact calculation on FE
  .github/workflows/publish.yml
  dcapal-frontend/package-lock.json
  dcapal-frontend/src/components/allocationFlow/steps/end/allocateCard.js
  dcapal-optimizer-wasm/src/optimize/advanced.rs
Labels: C-bug, A-frontend, P-high, A-ops
