Repository dcapal/dcapal, pull requests merged in 2024-12, with the labels that each got.

#488 build: bump Rust and JS dependencies
  Cargo.lock
  Cargo.toml
  dcapal-backend/Cargo.toml
  dcapal-frontend/package-lock.json
  dcapal-frontend/package.json
  dcapal-optimizer-wasm/Cargo.toml
Labels: A-frontend, A-backend, C-dependency

#489 feat(482): Add the possibility to accept suggested allocation and update quantities in the portfolio
  dcapal-frontend/public/locales/en/translation.json
  dcapal-frontend/public/locales/it/translation.json
  dcapal-frontend/src/components/allocationFlow/steps/end/index.js
Labels: C-feature, A-frontend, P-low, E-easy

#503 Replace Chakra UI with shadcn-ui
  Cargo.lock
  dcapal-backend/Cargo.toml
  dcapal-frontend/components.json
  dcapal-frontend/jsconfig.json
  dcapal-frontend/package-lock.json
  dcapal-frontend/package.json
  dcapal-frontend/src/app/config.js
  dcapal-frontend/src/components/allocationFlow/steps/ccy/index.js
  dcapal-frontend/src/components/allocationFlow/steps/end/allocateCard.js
  dcapal-frontend/src/components/allocationFlow/steps/end/index.js
  dcapal-frontend/src/components/allocationFlow/steps/invest.js
  dcapal-frontend/src/components/allocationFlow/steps/portfolio/index.js
  dcapal-frontend/src/components/allocationFlow/steps/portfolios/index.js
  dcapal-frontend/src/components/allocationFlow/steps/portfolios/portfolioCard.js
  dcapal-frontend/src/components/core/launchBtn.js
  dcapal-frontend/src/components/core/navBar.js
  dcapal-frontend/src/components/exportBtn.js
  dcapal-frontend/src/components/languageSwitcher.js
  dcapal-frontend/src/components/ui/button.jsx
  dcapal-frontend/src/components/ui/select.jsx
  dcapal-frontend/src/index.js
  dcapal-frontend/src/lib/utils.js
  dcapal-frontend/src/style.css
  dcapal-frontend/src/theme/components/button.js
  dcapal-frontend/src/theme/index.js
  dcapal-frontend/tailwind.config.js
  dcapal-frontend/webpack.common.js
  dcapal-optimizer-wasm/tests/test_runner/main.rs
Labels: A-frontend, C-dependency

#504 Add a Preferences dialog for transaction fees configuration
  dcapal-frontend/package-lock.json
  dcapal-frontend/package.json
  dcapal-frontend/public/locales/en/translation.json
  dcapal-frontend/public/locales/it/translation.json
  dcapal-frontend/src/components/allocationFlow/steps/portfolio/index.js
  dcapal-frontend/src/components/allocationFlow/steps/portfolio/preferencesDialog.js
  dcapal-frontend/src/components/core/inputNumber.js
  dcapal-frontend/src/components/core/inputText.js
  dcapal-frontend/src/components/ui/dialog.jsx
  dcapal-frontend/src/components/ui/input.jsx
  dcapal-frontend/src/style.css
Labels: A-frontend, C-enhancement
