Repository dcapal/dcapal, pull requests merged in 2024-07, with the labels that each got.

#387 build(deps): bump Rust dependencies and MSRV to v1.79
  .github/workflows/build-test.yml
  .github/workflows/deploy.yml
  .github/workflows/publish.yml
  Cargo.lock
  Cargo.toml
  dcapal-backend/Cargo.toml
  dcapal-backend/src/app/infra/stats.rs
  dcapal-backend/src/lib.rs
  dcapal-backend/src/ports/inbound/rest/mod.rs
  dcapal-optimizer-wasm/Cargo.toml
Labels: A-backend, A-optimizer, C-dependency

#388 fix(be): fix regressions in recent dependency upgrades
  Cargo.lock
  dcapal-backend/Cargo.toml
  dcapal-backend/src/ports/outbound/adapter/kraken.rs
Labels: A-backend, P-high, C-dependency

#386 [enhancement] UI improvements
  dcapal-frontend/images/stacked-wave-2.svg
  dcapal-frontend/images/stacked-wave.svg
  dcapal-frontend/package-lock.json
  dcapal-frontend/public/locales/en/translation.json
  dcapal-frontend/src/app/index.js
  dcapal-frontend/src/components/core/footer.js
  dcapal-frontend/src/components/core/rootCard.js
  dcapal-frontend/src/routes/aboutPage.js
  dcapal-frontend/src/routes/root.js
Labels: A-frontend, C-enhancement, P-low, E-easy

#396 build(deps): bump JS dependencies
  dcapal-frontend/package-lock.json
  dcapal-frontend/package.json
Labels: A-frontend, C-dependency

#399 build(deps): bump JS dependencies (2)
  dcapal-frontend/package-lock.json
  dcapal-frontend/package.json
  dcapal-frontend/webpack.dev.js
Labels: A-frontend, P-high, C-dependency

#398 fix(opt): bug allocating budget to assets with zero target-weight
  dcapal-optimizer-wasm/src/optimize/advanced.rs
  dcapal-optimizer-wasm/tests/scenarios/BUGS-4-target-weight-zero-should-not-allocate-funds.json
Labels: C-bug, A-optimizer, P-medium

#395 [Bug]: Fix icons on landing
  dcapal-frontend/src/components/core/rootCard.js
Labels: C-bug, A-frontend, P-high, E-easy
